
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    height: 300vh;
    background: url(images/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

section .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .side#side1 {
    background: darkblue;
    clip-path: inset(0 50% 0 0);
}

section .side#side2 {
    background: rgb(255, 255, 255);
    clip-path: inset(0 0 0 50%);
}

.herb {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 50px;
    background: url(images/herb.png);
    background-size: cover;
    width: 502px;
    height: 502px;
}

.herb img {
    width: 175px;
    height: 175px;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .herb {
        position: relative;
        top: 20%;
        left: 0;
        width: 175px;
        height: 175px;
    }

    .herb img {
        width: 85px;
        height: 85px;
    }
}
